{% extends 'pages/index.html' %}

{% block title %}Confirm Delete Doctor{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Confirm Delete Doctor</h1>
                <p>Are you sure you want to delete "{{ doctor.name }}"?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="{% url 'doctor_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
